/* The reference is w3schools CSS tutorial */
*{box-sizing: border-box;}
body {
	margin: 0;
	width:100%;
	float: left;
	background-color: #f5e0c3;
	font-family: Gill Sans, cursive;
	font-size: 1vw;
}
#main_adverts{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 20%;
    left: 15%;
    border: 1px solid black;
}
#main_adverts img{
    width: 100%;
    height: 100%;
    position: absolute;
}
a:hover {
	color: yellow;
	text-decoration: underline;
}

.slides img {
	height: 70px;
	border: 4px solid #555;
	padding: 1px;
	margin: 0 10px 10px 0;
}

.slides img:hover {
	border: 4px solid #00ccff;
	cursor:pointer;
}

.demo img {
	border: 4px solid #444;
	padding: 1px;
	width: 500px;
}
div.header {
	background-color: #c9a470;
	
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
	background-color: #D18F3A;
}




img{max-widht:100%;
height:50;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #c9a470;
}
.active {
    background-color: #99370A;
}

.column {
	float: left;
	padding: 10px;
}

h1 {
    	font-size: 4.5vw;
    	font-family: 'Oleo Script', cursive;
	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
	color: #99370A;
}

.column.side {
	width: 200px;
}

.column.middle {
	width: 60%;
}

.header:after {
	content: "";
	display: table;
	clear: both;
}

.main {
	font-size: 32px;
	background-color: #f5e0c3;
	color: #5c1407;
	
}
h2 {
	color: #5c1407;
	font-size:3vw;
}
h3 {
	color: #5c1407;
	font-size:2vw;
}
h4 {
	color: #5c1407;
	font-size:1.5vw;
}
input[type=text],select,textarea{
padding:2px;
border-radius:4px;
margin-top:4px;
margin-bottom:6px;
resize:vertical;}

input[type=submit]{background-color:#4ca50;
colour:white;
padding:12px 20px;
bordor:none
border-radius; 4px;
cursor: pointer;}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.container{border-radius: 5px;
font-size: 2vw;
padding;2px;
button:hover;}


p{	 font-size:1vw;}

.footer {
	background-color: #D18F3A;
	padding: 0px;
	bottom: 0;
	left: 0;
	position: fixed;
	text-align: center;
	color: white;
	width: 100%;
	font-size:4px;
  	z-index: -1;
	}

@media screen and (max-width:800px,max-height: 300px){.header,footer,.main{width:100%}}
